.Profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;

    img {
        // margin-bottom: 1rem;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 100%;
    }
}
