.Profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    // background: linear-gradient(#34cb85, rgba(251, 238, 218, 0.056));

    img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 100%;
    }
}
