.Footer {
    // position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #29c97e;
    width: 100%;
    text-align: center; /* Centrer le texte horizontalement */

    /* Ajoutez de l'espace autour du texte et de l'icône */
    // padding: 10px;
}

.up {
    height: 2rem;
    width: 2rem;
    background-color: red;
    margin-left: 2rem;
}

/* Style pour le texte dans le footer */
.Footer p {
    margin-left: auto;
    margin-right: auto;
}
