.Payement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .Payement-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .Payement-detail, .Payement-form {
            width: 40rem;
        }

        .Payement-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                margin-bottom: 1rem;
            }

            input, label {
                width: 25rem;
                height: 1.5rem;
            }

            .smallInput {
                display: flex;
                justify-content: space-between;
                width: 407px;
                

                .smallInput-input {
                    display: flex;
                    flex-direction: column;

                    input, label {
                        width: 10rem;
                    }
                }
                
            }
        }
    }
}