
.Banner{
    width: 100%;
    position: relative;
    height: 35rem;
    background-color: black;

    img {
        width: 100%;
        height: 35rem;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        opacity: 0.7;
    }

    .Banner-title {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;

        .Banner-title-text {
            width: 20%;
            height: 20%;
            text-align: center;
            color: white;
            // background-color: rgba(0,0,0,0.5);
            // box-shadow: 0px 5px 5px rgb(64, 184, 60);
            padding: 2rem;
            margin: auto;
            border-radius: 30px;
            * {
                margin-block-start: 0.5rem;
                margin-block-end: 0.5rem;
            }
        }
    }
}