html{
    height: 100%;
}
.titre {
    // background-color:#2fbb7a;
    width : 100%;
    text-align: center;
}
.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
    
    h2 {
        // margin-bottom: 2rem;
    }

    .Login-form {
        display: flex;
        width: 30%;
        margin: 10rem auto;
        flex-direction: column;
        align-items: center;
       
        background-color: #17995C;
        // padding: 2rem;
        // padding-left: 10%;
        // padding-right: 10%;
        border-radius: 20px;
        
        input {
            padding: 0.5rem;
            border-radius: 2px;
            width: 14rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: smaller;
            margin: 1rem;
            text-align: center;
        }
    }
    .Login-input{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        text-align:left;
    }
}

