.About {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    .About-text, img {
        width: 40%;
        margin: 0 4rem;
    }
    .About-text h1{
        color: #ff5e14;
    }
    .About-text p{
        color: white;
    }
    img {
        width: 45%;
    }

}