.About {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    .About-text, img {
        width: 40%;
        margin: 0 4rem;
    }

    img {
        width: 45%;
    }

}