<<<<<<< HEAD
.Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightcyan;
    width: 100%;

    a {
        color: black;
        text-decoration: none;
        transition-duration: 0.5s;

        &:hover {
            color: white;
            transition-duration: 0.5s;
        }
    }

    h2 {
        margin-left: 2rem;
    }

    .Log {
        margin-right: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 11rem;
    }
}
=======
* {
    overflow-x: hidden;
}

.Header {
    z-index: 10;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    background-color: rgb(64, 184, 60);
    width: 100%;
    box-shadow: 0px 5px 5px rgb(64, 184, 60);
}

.Header .contenue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    
}

.Header .Log {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 11rem;
}
>>>>>>> 50e816c6633f2e49ff9b7dcb73f159e4848105b8
