.Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(255, 126, 77, 1);
    background-color: #3AE594;
    width: 100%;

    a {
        color: rgb(236, 236, 236);
        text-decoration: none;
        transition-duration: 0.5s;

        &:hover {
            color: rgb(0, 0, 0);
            transition-duration: 0.5s;
        }
    }

    h2 {
        margin-left: 2rem;
    }

    .Log {
        margin-right: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 11rem;
    }
}
