* {
    overflow-x: hidden;
}

.Header {
    z-index: 10;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    background-color: rgb(64, 184, 60);
    width: 100%;
    box-shadow: 0px 5px 5px rgb(64, 184, 60);
}

.Header .contenue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    
}

.Header .Log {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 11rem;
}
