.Find {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3rem;
    .Find-contenue{
        background-color: bisque;
        display: flex;
    flex-wrap: wrap;
    }
    .Find-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;

        input {
            width: 20rem;
            height: 1.3rem;
        }

        // .search {
        //     background-color: lightcyan;
        //     padding-top: 0.5rem;
        //     padding-bottom: 0.7rem;
        //     padding-left: 2rem;
        //     padding-right: 2rem;
        //     border-radius: 2rem;
        //     transition-duration: 0.5s;

        //     &:hover {
        //         background-color: cyan;
        //         transition-duration: 0.5s;
        //     }
        // }
    }
}