.Button {
    background-color:#2fbb7a ;
    
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    transition-duration: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: rgb(230, 230, 230);
        transition-duration: 0.5s;
    }
}