.Contenue{
    display: flex;
    
    .Image{
        width: 45%;
        margin: auto;
        text-align: center;
        background-color: rgb(231, 231, 231);
        box-shadow: 5px 5px black;
        border-radius: 5px;
    }
    .Image h2{
        // color: #ff5e14;
        // color: #757575;
        color: #ff5e14;
    }
    .Intro h3 {
        color: white;
    }
    .Etapes p{
        color: #eeeeee;
    }
    &__etape{
        width: 45%;
        margin: 5rem auto;
    }
    .Titre h2{
        color: #ff5e14;
    }
}